apiVersion: v1
kind: Pod
metadata:
  name: kube-controller-manager
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-controller-manager
    image: gcr.io/google_containers/hyperkube:v1.6.4
    command:
    - /hyperkube
    - controller-manager
    - --kubeconfig=/etc/kubernetes/kubeconfigs/default-kubeconfig.yaml
    - --allocate-node-cidrs=true
    - --cluster-cidr=10.10.0.0/16
    - --service-cluster-ip-range=10.20.0.0/16
    - --allocate-node-cidrs=true
    - --leader-elect=true
    - --root-ca-file=/etc/kubernetes/ssl/ca.pem
    - --cluster-signing-cert-file=/etc/kubernetes/ssl/kubelet-client.pem
    - --cluster-signing-key-file=/etc/kubernetes/ssl/kubelet-client-key.pem
    - --service-account-private-key-file=/etc/kubernetes/ssl/kube-apiserver-server-key.pem
    resources:
      requests:
        cpu: 100m
    livenessProbe:
      httpGet:
        host: 127.0.0.1
        path: /healthz
        port: 10252
      initialDelaySeconds: 15
      timeoutSeconds: 15
    volumeMounts:
    - mountPath: /etc/kubernetes/ssl
      name: srvkubessl
      readOnly: true
    - mountPath: /etc/kubernetes/kubeconfigs
      name: etc-kubernetes-kubeconfigs
      readOnly: true
  hostNetwork: true
  volumes:
  - hostPath:
      path: /etc/kubernetes/ssl
    name: srvkubessl
  - hostPath:
      path: /etc/kubernetes/kubeconfigs
    name: etc-kubernetes-kubeconfigs
